@import '../../index.scss';

.card {
	background-color: $bgt;
	border-radius: 15px;
	height: 250px;
	padding: 2rem;
	margin: 1.5rem;
	width: 600px;
}

span {
	width: 4rem;
	display: block;
	border-top: 2px solid $white;
}
