@import '../../index.scss';
.home-container {
	min-height: 100vh;
	.hero {
		align-items: center;
		background-color: darken($bg, 3%);
		display: flex;
		height: 36rem;
		justify-content: center;
		.left-pane,
		.right-pane {
			align-items: center;
			display: flex;
			justify-content: center;
			height: 100%;
			width: 50%;
		}
		.right-pane {
			// background-image: url(../../../public/bg-wave.png);
			background-position: center;
		}
	}
}
